@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
.title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.show-d {
    display: none;
}
body {
  background: rgb(255, 255, 255);
  
}
#brand-card{
  width: fit-content;
  max-width: fit-content;
  background: rgb(240, 240, 240);
  box-shadow: 5px 5px #5c5a5a0e;
}
#img-card {
  width: 250px;
  max-width: 300px;
}

.form-x{
  min-width: 200px;
  width: 300px;
  max-width: 500px;
  background: rgb(240,240,240);
  box-shadow: 5px 5px #726f6f17;
  
}

.transform {
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;

  }

  .transform-active {
    border: 1px solid black;
  }

footer {
    position: absolute;
    bottom: 0;

}
  